#tooltip{
    position: absolute;
    border:1px solid #333;
    background: #f7f5d1;
    padding:1px;
    color:#333;
    display: none;
}

.imageOver{
    background: url(../images/zoom.gif) no-repeat 50% 50%;
    filter:alpha(opacity=60);
    opacity:0.6;
}
